<header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="email" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/continent" routerLinkActive="active">Continent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/country" routerLinkActive="active">Country</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/state" routerLinkActive="active">State</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!email" class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li *ngIf="email" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{email}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="#">Action</a> -->
          <a class="dropdown-item" routerLink="/users/{{activeUserID}}" routerLinkActive="active" href="#">Profile</a>
          <div class="dropdown-divider"></div> 
          <a class="dropdown-item" (click)="clearToken()">logout</a>
        </div>
      </li>
    </ul>
    
  </div>
</nav>
</header>	
<section style="padding-top: 56px;">
	
	<router-outlet></router-outlet>
</section>