<div class="container-fluid">
	<div class="row">
	     <div class="col-sm">
	     	<h1><a routerLink="/country">
	     		<i class="fa fa-angle-left" aria-hidden="true"></i></a> Country Details</h1>
	     </div>
	</div>      	
</div>
<div class="container-fluid">  	

<div class="row">
	<div class="col">
		<div class="alert alert-success" role="alert" *ngIf="successMessage;">
		    {{successMessage}}
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="errorMessage;">
			{{errorMessage}}
		</div>
	</div>      	
</div>

	<div class="row">
	     <div class="col">
			<div >
				<form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)" >
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Name</label>
				    <div class="col-sm-9">
					    <input 
					    class="form-control" 
					    formControlName="name">
					    <small class="form-text text-muted" 
					    *ngIf="!rForm.controls['name'].valid && 
					    rForm.controls['name'].touched">{{ titleAlert }}
					    </small>
					</div>    
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Area</label>
				    <div class="col-sm-9">
					    <input 
					    class="form-control" 
					    formControlName="area">
					</div>     
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Image</label>
				    <div class="col-sm-9">
					    <input 
					    class="form-control" 
					    formControlName="image">
					</div>     
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Flag</label>
				    <div class="col-sm-9">
					    <input 
					    class="form-control" 
					    formControlName="flag">
					</div>     
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Capital</label>
				    <div class="col-sm-9">
					    <input 
					    class="form-control" 
					    formControlName="capital">
					</div>     
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Description</label>
				    <div class="col-sm-9">
					    <textarea class="form-control textareaHeight" formControlName="description"></textarea>
					</div>     
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Continent Key</label>
				    <div class="col-sm-9">
					    <input 
					    class="form-control" 
					    formControlName="continent_key">
					    <small class="form-text text-muted" 
					    *ngIf="!rForm.controls['continent_key'].valid && 
					    rForm.controls['continent_key'].touched">This field is required
					    </small>
					</div>     
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-3 col-form-label">Country Key</label>
				    <div class="col-sm-9">
					    <input 
					    class="form-control" 
					    formControlName="country_key">
					    <small class="form-text text-muted" 
					    *ngIf="!rForm.controls['country_key'].valid && 
					    rForm.controls['country_key'].touched">This field is required
					    </small>
					</div>     
				  </div>
				  <div class="form-group row">
				       <label class="col-sm-3 col-form-label"></label>
				       <div class="col-sm-9">
				       		<input type="submit" class="btn btn-primary expanded" value="Submit Form" [disabled]="!rForm.valid">
				       </div>
				  </div>
				</form>
			</div>
	     </div>
	     <!-- <div class="col">

			        <h1>{{ name }}</h1><br />
			        <p>{{ area }}</p><br />
			        <p>{{ country_count }}</p><br />
			        <p>{{ description }}</p><br />
			        <p>{{ continent_key }}</p><br />
			
	     </div> -->
    </div>
</div>



